{% extends "./base.html" %}


{% block containerBody %}
<div class="text-center">
    <h2>Project Exhibition Inference</h2>
    <span style="font-variant: small-caps">By Delta Force</span>
    <h4 class="pt-2 fs-5">The Royal College of Music has one of the richest collections of music-related objects
        in the UK
        and Europe,
        spanning over 500 years of musical activity. A new layout has just been created, and the museum needs to learn
        how visitors respond to it in order to refine the design in future.

        The project aims to use UWB trilateration to estimate how visitors travel around the museum, as well as how long
        they spend at each exhibit.</h4>
</div>
{% endblock %}