{% extends "./base.html" %}
{% load static %}

{% block visualisationClass %}active{% endblock %}

{% block containerBody %}

<h2>Visualisation page</h2>
<p> How to navigate: </p>
/visualisation/session/11 to see only readings from session ID 11<br />
/visualisation/start/2022-03-06T15:04:53.597914/end/2022-03-08T15:04:53.597914/ to see only readings between the two
timestamps<br />
/visualisation/start/2022-03-06T15:04:53.597914+00:00/end/2022-03-08T15:04:53.597914+00:00/ to see only readings between
the two timestamps<br />

<br />

<button style="position:static;left:30px" id="backButton">Backwards</button>

<button style="position:static;left:50px" id="forwardButton">Forward</button>

<button style="position:static;left:70px" id="animateButton">Animate!</button>

<br />

<canvas id="test" width="1200" height="900">
    Cannot load canvas
</canvas>

<div style="display: none" id="jsonData" data-json="{{ data }}"></div>

<br />

<script src="{% static 'exhibitionInferenceApp/js/Visualisation.js' %}"></script>

{% endblock %}
