{% extends "./base.html" %}
{% load static %}


{% block containerBody %}

<h2>DELTA FORCE FOREVER</h2>
<h4>Hello there, I am an admin page.</h4>

<button style="position:static;left:30px" id="backButton">Backwards</button>

<button style="position:static;left:50px" id="forwardButton">Forward</button>

<button style="position:static;left:70px" id="animateButton">Animate!</button>



<canvas id="test" width="1200" height="900">
    Cannot load canvas
</canvas>



<div style="display: none" id="jsonData" data-json="{{ data }}"></div>

<br />



<script src="{% static 'exhibitionInferenceApp/js/Visualisation.js' %}"></script>

<p id="dataTest"> testItem</p>

END OF CANVAS

<p>Access the list of Readings provided via {{ data }}</p>

{% endblock %}